<div class="w-full h-16 flex items-center border-b border-gray-100 fixed top-0 bg-white">
  <div class="container px-5 w-full mx-auto flex justify-between items-center">
    <%= link_to "/", class:"text-red-600 font-bold flex items-end text-xl" do %>
      <%= image_tag "", class:"w-8 object-cover" %>
      <span>Shop app</span>
    <% end %>
    <div class="flex items-center gap-4">
    </div>
  </div>
</div>